{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/products/styles.css' %}">
<div class="container marketing">
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider" id="Prod1">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">{{prod_cont.0.title_text}} <span class="text-muted">{{prod_cont.0.subtitle_text}}</span></h2>
      <p class="lead">{{prod_cont.0.main_text}}</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="{% static 'home/images/red.jpg'%}" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider" id="Prod2">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">{{prod_cont.1.title_text}} <span class="text-muted">{{prod_cont.1.subtitle_text}}</span></h2>
      <p class="lead">{{prod_cont.1.main_text}}</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="{% static 'home/images/blue.jpg'%}" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider" id="Prod3">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">{{prod_cont.2.title_text}} <span class="text-muted">{{prod_cont.2.subtitle_text}}</span></h2>
      <p class="lead">{{prod_cont.2.main_text}}</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="{% static 'home/images/green.jpg'%}" alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->

  <!-- Certifications -->
</div><!-- /.container -->
<!-- Certifications -->
<div class="container marketing">
  <div class="row-md-7 text-center">
    <h2 class="featurette-heading">{{cert_cont.0.title_text}}</h2>
    <p class="lead">{{cert_cont.0.main_text}}</p>
  </div>
  <div class="row">
    <div class="col-lg-4 text-center">
      <img class="cert-image" src="{% static 'home/images/KosherAus.png'%}" alt="Generic placeholder image" width="140" height="140">
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <img class="cert-image" src="{% static 'home/images/Halal.jpg'%}" alt="Generic placeholder image" width="217" height="140">
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <img class="cert-image" src="{% static 'home/images/GMP.gif'%}" alt="Generic placeholder image" width="140" height="140">
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div><!-- /.container -->

{% endblock %}
